.main {
  margin-top: 52px;
  position: relative;
}

.transparentButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 50px;
  /* width: 200px; */
  color: #3498db;
  font-size: 1.5em;
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6); */
}


.prev {
  left: 16px;
}

.next {
  transform: rotate(180deg);
  right: 16px;
}

.button:hover {
  text-decoration: none;
  color: white;
}

.container {
  width: 100%;
  height: 135px;
  padding: 0px 16px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.carouselImageWrapper {
  width: 100%;
  height: 135px;
  position: relative;
}

.carouselImageWrapper span {
  border-radius: 10px;
}

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.arrowPrev {
  left:100px;
  /* background-image: url('/public/backbutton.png'); */
  color: rgb(75, 39, 39);
}

.arrowNext {
  right:0;
  /* background-image: url('/public/backbutton.png'); */
  color: white !important;
}


