.logoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 170px;
}

.containerNav {
  position: relative;
  width: 100%;
  padding: 0 16px;
}

.searchWithBurger {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.Iconsearch {
  position: absolute;
  top: 6.5px;
  left: 12px;
}

.search::placeholder {
  padding-left: 0.2px;
}

.search.active::placeholder {
  padding-left: 0px;
}

.search {
  background-color: aliceblue;
  border: 2px solid #ccc;
  width: 83%;
  height: 41px;
  font-size: 14px;
  border-radius: 5px;
  border-color: rgb(65, 61, 61);
  border-width: 0.5px;
  padding-left: 39px;
  position: absolute;
  transition: 0.5s;
  top: 0;
  left: 0;
}

.search.active {
  width: 55%;
}

.burgerNavWrapper {
  width: 12%;
  height: 41px;
  font-size: 14px;
  overflow: hidden;
  background-color: #f7d100;
  border-color: #f7d100;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.5s;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  border: 1px solid transparent;
}

.burgerNavWrapper.active {
  width: 40%;
  height: max-content;
  /* margin-bottom: 0.5rem; */
  border: 1px solid black;
}

.burgerNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.burgerNavClose {
  width: 100%;
  padding: 9px 16px 5px 16px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  transition: .1s;
}

.burgerNav span {
  display: flex;
  width: 14px;
  height: 2px;
  background: black;
  border-radius: 4px;
  transition: 0.5s;
  margin: 2px 0px;
  justify-content: left;
}

.burgerNav span:nth-child(1) {
  width: 20px;
}

.burgerNav span:nth-child(2) {
  width: 15px;
}

.burgerNav span:nth-child(3) {
  width: 18px;
}

.burgerNav.active span:nth-child(1) {
  transform: rotate(-45deg) translateY(8.5px);
  margin-right: 12px;
}

.burgerNav.active span:nth-child(2) {
  opacity: 0;
}

.burgerNav.active span:nth-child(3) {
  width: 20px;
  transform: rotate(45deg) translateY(-8.5px);
  margin-right: 12px;
}

.navMenu {
  position: absolute;
  right: 16px;
  flex-direction: column;
  background-color: #f7d100;
  border-radius: 5px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  z-index: 2;
  list-style-type: none;
  border: 1px solid black;

}

.burgerNavLink {
  opacity: 0;
  transition: 0.1s;
}

.burgerNav.active~.burgerNavLink {
  opacity: 1;
  transition: 0.3s 0.2s;
}

.burgerNavLinkGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 16px;
  opacity: 0;
  transition: 0.1s;
}

.burgerNavLinkGroup div {
  padding: 5px 0;
}

.burgerNavLinkGroup div a {
  text-decoration: none;
  color: black;
}

.burgerNavWrapper.active .burgerNavLinkGroup {
  opacity: 1;
  transition: 0.3s 0.2s;
}

@media only screen and (max-width: 480px) {
  .burgerNavClose {
    padding-right: 13px;
  }

  .burgerNavWrapper.active .burgerNavClose {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 360px) {
  .burgerNavClose {
    padding-right: 10px;
  }

  .burgerNavWrapper.active {
    height: max-content;
  }

  .burgerNavLinkGroup {
    font-size: 12px;
  }
}