/* CATEGORY button */
.catergoryWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.logoWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}