.container {
    text-align: center;
    padding-top: 5%;
}

.backbutton{
    position: absolute;
    top: 14.5%;
    left: 42.5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer;
    border-radius: 50%;   
    z-index: 1; 
}

.productbody{
    text-align: left;
    padding-left: 42%;
}

.displayName{
    font-weight: bold;
}

.flex {
    display: inline-flex;
    
}
.price {
    font-size:25px;
    font-weight: lighter;
    margin-top: 3%;
}

.qty{
    left:10%;
    position: relative;
    opacity: 0.5;
}

.line{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    width: 25%;
    position: relative;
    right:37.5%;
    margin-top: 0%;
    opacity: 0.2;
    position: relative;
}

.detailproduk{
    font-weight: lighter;
    font-size: 18px;
}

.keterangan{
    font-size: 15px;
    margin-top: -1%;
    opacity: 0.9;
}

.varian {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}

.button{
    margin-left: -0.5%;
}
.button1{
    border-radius: 10px;
    width: 70px;
    padding: 6px;
    margin: 5px;
    background-color: white;
    border-width: 1px;
    opacity: 0.5;
}

.button2{
    border-radius: 10px;
    width: 70px;
    padding: 6px;
    margin: 5px;
    background-color: white;
    border-width: 1px;
    opacity: 0.5;
}

.button3{
    border-radius: 10px;
    width: 70px;
    padding: 6px;
    margin: 5px;
    background-color: white;
    border-width: 1px;
    opacity: 0.5;
}

.button1.active{
    background-color: #fae986; 
    opacity: 1;
}

.button2.active{
    background-color: #fae986; 
    opacity: 1;
}

.button3.active{
    background-color: #fae986; 
    opacity: 1;
}

.beli{
    padding-top: 5%;
    position: relative;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.buttonbeli{
    border-radius: 10px;
    width: 18%;
    background: white;
    border-width: 1px;
    padding: 0.3%;
    background-color: #F7D100;
    border-width: 0px;
    color: black;
}

.buttonbeli:hover{
    text-decoration: none;
    color: black;
}

.Checkmark{
    opacity:0;
}

.Checkmark.active{
    width:210px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 47%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align:center;
    padding: 35px 35px;
    color: #333;
    z-index:3;
    opacity: 0;
    transition-duration: 1s;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 5s;
}     
.blur {
    opacity: 0;
}

.blur.active{
    width: 21%;
    height: 85%;
    z-index: 2;
    background: rgb(0, 0, 0);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align:center;
    padding:0 30px 30px;
    color: #333;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 5s;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    20% {opacity:0;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    20% {opacity:0.8 ;}
}

