.section {
    width: 60%;
    margin: auto;
}

.sectionHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sectionHead a {
    color: 	rgb(76,182,84);
}

.sectionBody {
    display: flex;
    margin: 0px 4px;
}